@font-face {
  font-family: 'Malayalam';
  src: url("../fonts/MalayalamMN.eot");
  src: url("../fonts/MalayalamMN.eot?#iefix") format('embedded-opentype'), 
  url("../fonts/MalayalamMN.woff2") format('woff2'), 
  url("../fonts/MalayalamMN.woff") format('woff'), 
  url("../fonts/MalayalamMN.svg#MalayalamMN") format('svg');
}
